<center>

  <h1> About </h1>

  <p>Are you ready to see a bunch of pictures of cats, randomly generated for your enjoyment? Then this is the app for you. Click 'Cat Pictures' above to get started.</p>
  
</center>