      <p>Look at those beautiful colored squares. Just wow.</p>
    </div>
    <div class="col-sm-8">
      <h3>Column 2</h3>
      <p><img src="/images/ask.png"> <img src="/images/ask3.png"> <img src="/images/ask2.png"> <img src="/images/ask4.png"></p>
    </div>
  </div>
