      <p>Colored squares.... Truly incredible.</p>
    </div>
    <div class="col-sm-8">
      <h3>Column 2</h3>
      <p><img src="/images/ask8.png"> <img src="/images/ask5.png"> <img src="/images/ask6.png"> <img src="/images/ask7.png"></p>
    </div>
  </div>
